.layout {
    min-height: calc(100vh - var(--main-layout-padding) * 2);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.mainLayout {
    display: flex;
    flex-direction: column;
    gap:30px;
}
